@model SearchViewModel
<br/>
<br/>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <form asp-controller="newsfeed" asp-action="Search" method="post">
            <div class="input-group text-center">
                <input class="form-control" asp-for="SearchText"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-danger btn-secondary btn0 text-white" type="submit">Поиск</button>
                </div>
            </div>
            <div class="text-start">
                <div class="form-check form-check-inline">
                    <input onclick="checkIsAuthor()" class="form-check-input" type="checkbox" asp-for="IsAuthor" checked />
                    <label class="form-check-label">Авторы</label>
                </div>
                <div class="form-check form-check-inline">
                    <input onclick="checkIsPost()" class="form-check-input" type="checkbox" asp-for="IsPost" checked />
                    <label class="form-check-label">Посты</label>
                </div>
            </div>
        </form>
        <div>
            @if (Model?.searchResponse.Authors != null) {
                foreach (var a in Model.searchResponse.Authors) {
                    <div class="form-control">
                        <h6>@a.User.UserName
                            @await Component.InvokeAsync("AvatarPath", new { @a.User.Id, html = "class=\"d-block border border-dark\"" })
                        </h6>
                        <div>@await Component.InvokeAsync("UrlPath", new { id = a.UserId })</div>
                    </div>
                }
            }
            @if (Model?.searchResponse.Posts != null) {
                foreach (var p in Model.searchResponse.Posts) {
                    <div class="form-control">
                        <h6>@p.Title</h6>
                        <p>@p.Description</p>
                        <a asp-page="/Post" asp-route-postId="@p.Id">Открыть</a>
                    </div>
                }
            }
        </div>
    </div>

    <div class="col"></div>
</div>
<style>
    .btn0{
        border-radius: 0px !important;
    }
</style>

<script>
    function checkIsAuthor(){
        var isAuthor = document.getElementById("IsAuthor");
        var isPost = document.getElementById("IsPost");
        if (!isAuthor.checked && !isPost.checked) {
            document.getElementById("IsAuthor").checked = true;
        }
    }
    function checkIsPost() {
        var isAuthor = document.getElementById("IsAuthor");
        var isPost = document.getElementById("IsPost");
        if (!isAuthor.checked && !isPost.checked) {
            document.getElementById("IsPost").checked = true;
        }
    }
</script>