@using Cactus.Models.Database
@model PagingAuthorViewModel

<div>
    @await Component.InvokeAsync("BannerPath", new {Model.CurrentUser.Id})
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <tbody>
                @if (Model.Authors != null)
                {
                    @foreach (var p in Model.Authors)
                    {
                        <tr>
                            <td>@p.Author.UserName</td>
                            <td>@await Component.InvokeAsync("UrlPath", new { id = @p.Author.Id })</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div page-model="@Model.SubscribesPagingInfo" page-action="Index" type-page="authorPage"
             page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary" class="btn-group pull-right m-1">
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h3 class="text-center">@Model.CurrentUser.UserName</h3>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAuthor" data-bs-toggle="dropdown" aria-expanded="false">
                        Еще
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuAuthor">
                        @if (!Model.IsUninteresting&&!Model.IsOwner) {
                            <li>
                                <a class="dropdown-item" asp-controller="Author" asp-action="AddUninterestingAuthor" asp-route-authorId="@Model.CurrentUser.Id">
                                    Добавить в список неинтересного
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("AvatarPath", new { Model.CurrentUser.Id, html = "class=\"avatarProfile mx-auto d-block border border-dark\"" })
        @if (Model.IsOwner)
        {
            <div class="text-center">
                <button type="button" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Создать пост
                </button>
            </div>
        }
        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Стать автором</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form asp-controller="Author" asp-action="AddPost" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <input type="hidden" name="Id" value="@Model.CurrentUser.Id"/>
                                <div class="form-control">
                                    <img width="300" height="450" id="myPostPhoto" class="postPhoto">
                                    <button type="button" class="btn btn-outline-secondary" onclick="document.getElementById('postPhoto').click()">Добавить фото</button>
                                    <input type='file' id="postPhoto" style="display:none" asp-for="Post.PostPhoto">
                                </div>
                                <div class="form-control">
                                    <label asp-for="Post.Title"></label>
                                    <input class="form-control" asp-for="Post.Title">
                                </div>
                                <div class="form-control">
                                    <label asp-for="Post.Description"></label>
                                    <textarea class="form-control" asp-for="Post.Description"></textarea>
                                </div>
                                <div>
                                    <label asp-for="Post.CategoryId">Выберите категорию</label>
                                    <select class="form-control" asp-for="Post.CategoryId" asp-items="@(new SelectList(Model.Categories, nameof(Category.Id), nameof(Category.Name)))"></select>
                                </div>
                                <div>
                                    <label asp-for="Post.Tags">Выбранные теги поста</label>
                                    <input class="form-control" type="text" readonly id="allTags" />
                                    <label asp-for="Post.Tags">Напишите теги начиная c знака #</label>
                                    <input class="form-control" asp-for="Post.Tags" id="myTag" />
                                    <div class="text-end">
                                        <button class="btn btn-secondary m-1" type="button" id="postTag" onClick="getTag()">Добавить тег</button>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">Опубликовать</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <table class="table">
            <tbody>
                @if (Model.Posts != null) {
                    @foreach (var p in Model.Posts) {
                        <tr>
                            <td>@p.Title</td>
                            <td>@p.Description</td>
                            <td><a class="btn btn-primary" asp-page="/Post" asp-route-postId="@p.Id">Открыть</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div page-model="@Model.PostsPagingInfo" page-action="Index" type-page="postPage"
             page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary" class="btn-group pull-right m-1">
        </div>
    </div>
</div>
<style>
    .avatarProfile {
        width: 300px;
        height: 450px;
        margin:0;
        padding:0;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function getTag() {
        var inputElement = document.getElementById("myTag");
        var result = inputElement.value.match(/#[a-zA-Z]/);
        if (inputElement.value.indexOf(' ') == -1 && result != null) {
            document.getElementById("allTags").value += inputElement.value;
        }
    }
    // $("#postTag").click(function () {
    //     getTag(this);
    // });
</script>