@model BaseResponse<IEnumerable<Cactus.Models.Database.Transaction>>
<h1>History</h1>

<div class="row">
    <div class="col">
        <br />
        <div class="d-flex justify-content-end">
            <form style="width:15%" asp-controller="wallet" asp-action="HistoryFilter" method="post">
                <h4>Выберите период</h4>
                <div>
                    <label>с даты</label>
                    <input class="form-control" type="date" name="dateFrom" />
                    <label>по дату</label>
                    <input class="form-control" type="date" name="dateTo" />
                </div>
                <button class="btn btn-secondary">Применить</button>
            </form>
        </div>
    </div>
    <div class="col">
        <br>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Сумма без комиссии</th>
                    <th scope="col">Сумма с комиссией</th>
                    <th scope="col">Способ</th>
                </tr>
            </thead>
            @if (Model.StatusCode == 200) {
                @foreach (var c in Model.Data) {
                    <tbody>
                        <tr>
                            <td>@c.Created</td>
                            @if (c.PayMethod.PayMethodSetting.TransactionType.Id == (int)Cactus.Models.Enums.TransactionType.Withdraw) {
                                <td>@(Cactus.Models.Enums.TransactionType.Withdraw.GetAttribute<DisplayAttribute>().Name)</td>
                            }
                            @if (c.PayMethod.PayMethodSetting.TransactionType.Id == (int)Cactus.Models.Enums.TransactionType.Replenish) {
                                <td>@(Cactus.Models.Enums.TransactionType.Replenish.GetAttribute<DisplayAttribute>().Name)</td>
                            }
                            <td>@c.Sended</td>
                            <td>@c.Received</td>
                            <td>@c.PayMethod.Name</td>
                        </tr>
                    </tbody>
                }
            }
        </table>
        @if (Model.StatusCode != 200) {
            <h4>@Model.Description</h4>
        }
    </div>
    <div class="col"></div>
</div>