@model WalletSettingViewModel

<div class="row">
    <div class="col"></div>
    <div class="col">
    <div>
        <form class="form-control" method="post" asp-controller="wallet" asp-action="replenishWallet">
            <div>
                <input hidden asp-for="Replenish.Comission" />
                <label asp-for="Replenish.PayMethodId"></label>
                <select class="form-select" asp-for="Replenish.PayMethodId"
                        asp-items="@(new SelectList(Model.PayMethods.Where(x => x.PayMethodSetting.TransactionTypeId == (int)Cactus.Models.Enums.TransactionType.Replenish),
                                            nameof(Cactus.Models.Database.PayMethod.Id),
                                            nameof(Cactus.Models.Database.PayMethod.Name)))">
                </select>
                <p class="m-1" id="payMethodLabel1"></p>
            </div>
            <label asp-for="Replenish.Sended"></label>
            <div class="d-flex ">
                <input class="form-control" oninput="getReceived1()" asp-for="Replenish.Sended" />
                <nobr style="font-size: 20px">@Model.Wallet.Currency.Symbol</nobr>
            </div>
            <div>
                <label asp-for="Replenish.Received"></label>
                <input readonly class="form-control" asp-for="Replenish.Received" />
            </div>
            <button class="btn btn-danger m-1" type="submit">Пополнить</button>
        </form>
    </div>
        @if (User.IsInRole("Author"))
        {
            <hr />
            <h4>Вывод с кошелька</h4>
            <div>
                <form class="form-control" method="post" asp-controller="wallet" asp-action="WithdrawWallet">
                    <div>
                        <input hidden asp-for="Withdraw.Comission" />
                        <label asp-for="Withdraw.PayMethodId"></label>
                        <select class="form-select" asp-for="Withdraw.PayMethodId"
                        asp-items="@(new SelectList(Model.PayMethods.Where(x => x.PayMethodSetting.TransactionTypeId == (int)Cactus.Models.Enums.TransactionType.Withdraw),
                                                nameof(Cactus.Models.Database.PayMethod.Id),
                                                nameof(Cactus.Models.Database.PayMethod.Name)))">
                        </select>
                        <p class="m-1" id="payMethodLabel2"></p>
                    </div>
                    <label asp-for="Withdraw.Sended"></label>
                    <div class="d-flex ">
                        <input class="form-control" oninput="getReceived2()" asp-for="Withdraw.Sended" />
                        <nobr style="font-size: 20px">@Model.Wallet.Currency.Symbol</nobr>
                    </div>
                    <div>
                        <label asp-for="Withdraw.Received"></label>
                        <input readonly class="form-control" asp-for="Withdraw.Received" />
                    </div>
                    <button class="btn btn-danger m-1" type="submit">Вывести</button>
                </form>
            </div>
            <script>
                $(function () {
                    $("#Withdraw_PayMethodId").ready(function () {
                        if ($("#Withdraw_PayMethodId").val() != 0) {
                            var value = $("#Withdraw_PayMethodId").val()
                            var response = ajaxPayMethodId(value)
                            document.getElementById("payMethodLabel2").textContent = "Комиссия " + response + " %";
                            document.getElementById("Withdraw_Comission").value = response;
                        }
                    });
                });
            </script>
        }
        <hr />
    @if (User.IsInRole("Author")) {
        <div>
                <a class="btn btn-secondary m-1" asp-controller="wallet" asp-action="DonationHistory">История пожертвований</a>
        </div>
    }
    <div>
        <a class="btn btn-secondary m-1" asp-controller="wallet" asp-action="History">
            История транзацкий
        </a>
    </div>
    </div>
    <div class="col"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function getReceived1() {
        if ($("#Replenish_PayMethodId").val() != 0) {
            var selectElement = document.getElementById("Replenish_Sended");
            var value = $("#Replenish_PayMethodId").val()
            var response = ajaxPayMethodId(value)
            document.getElementById("Replenish_Received").value = selectElement.value - selectElement.value / 100 * response;
        }
    }

    function getReceived2() {
        if ($("#Withdraw_PayMethodId").val() != 0) {
            var selectElement = document.getElementById("Withdraw_Sended");
            var value = $("#Withdraw_PayMethodId").val()
            var response = ajaxPayMethodId(value)
            document.getElementById("Withdraw_Received").value = selectElement.value - selectElement.value / 100 * response;
        }
    }


    $(function () {
        $("#Replenish_PayMethodId").change(
            function () {
                if ($("#Replenish_PayMethodId").val() != 0) {
                    var value = $("#Replenish_PayMethodId").val()
                    var response = ajaxPayMethodId(value)
                    document.getElementById("payMethodLabel1").textContent = "Комиссия " + response + " %";
                    document.getElementById("Replenish_Comission").value = response;
                }
            });
    });
    $(function () {
        $("#Replenish_PayMethodId").ready(
            function () {
                if ($("#Replenish_PayMethodId").val() != 0) {
                    var value = $("#Replenish_PayMethodId").val()
                    var response = ajaxPayMethodId(value)
                    document.getElementById("payMethodLabel1").textContent = "Комиссия " + response + " %";
                    document.getElementById("Replenish_Comission").value = response;
                }
            });
    });
    
    

    $(function () {
        $("#Withdraw_PayMethodId").change(function () {
            if ($("#Withdraw_PayMethodId").val() != 0) {
                var value = $("#Withdraw_PayMethodId").val()
                var response = ajaxPayMethodId(value)
                document.getElementById("payMethodLabel2").textContent = "Комиссия " + response + " %";
                document.getElementById("Withdraw_Comission").value = response;
            }
        });
    });
    

    function ajaxPayMethodId(value) {
        var res
        $.ajax({
            url: "@Url.ActionLink("SelectPaySetting", "Wallet")",
            type: 'POST',
            dataType: "json",
            async: false,
            data: { payMethodId: value },
            success: function (response) {
                res = response
            }
        });
        return res
    }
</script>

@if(User.IsInRole("Patron") || User.IsInRole("Author")){
    <script>
        $(function () {
        $("#Withdraw_PayMethodId").ready(function () {
        if ($("#Withdraw_PayMethodId").val() != 0) {
        var value = $("#Withdraw_PayMethodId").val()
        var response = ajaxPayMethodId(value)
        document.getElementById("payMethodLabel2").textContent = "Комиссия " + response + " %";
        document.getElementById("Withdraw_Comission").value = response;
        }
        });
        });
    </script>
}